<div class="mx-auto" style="width: 50em;">
  <%= form_with(model: listing) do |form| %>
    <% if listing.errors.any? %>
      <div id="error_explanation" class="mx-auto" style="width: 50em;">
        <h4><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h4>

        <ul>
          <% listing.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group mb-3 ml-2">
      <%= form.label :category_id, class: "form-label" %>
      <br>
      <%= form.select :category_id, @categories.map {|cat| [cat.name, cat.id]}, class: "col form-select"%>
    </div>

    <div class="form-group mb-3 ml-2">
      <%= form.label :platform_id, class: "form-label"  %>
      <br>
      <%= form.select :platform_id, @platforms.map {|plat| [plat.name, plat.id]}, class: "form-control" %>
    </div>

    <div class="form-group mb-3 ml-2">
      <%= form.label :title, class: "form-label"  %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    
    <div class="form-group mb-3 ml-2">
      <%= form.label :condition_id, class:"form-label" %>
      <br>
        <% @conditions.each do |option| %>
          <%= form.label :condition, option.capitalize, class:"form-check-label m-3"%>
          <%= form.radio_button :condition, option%>
        <% end %>
    </div>

 
    <div class="form-group mb-3 ml-2">
      <%= form.label :price, class: "form-label"  %>
      <%= form.number_field :price, min: "0.00", step: "0.01", class:"form-control" %>
    </div>

    <div class="form-group mb-3 ml-2">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>

    <div class="form-group mb-3 ml-2">
      <%= form.label :picture, class: "form-label" %>
      <br>
      <%= form.file_field :picture,  accept: "image/jpg, image/jpeg, image/png" %>
    </div>
    <br>
    <div class="mb-3">
      <%= form.submit class: "btn btn-info mr-1" %>
      <%= link_to 'Back', root_path, class: "btn btn-secondary text-white" %>
    </div>
  <% end %>
</div>