<div class="mx-auto" style="width: 80em;">
  <h1 class="mx-5">Welcome to Vintage Video Games</h1>

  <div class="mx-5 mb-4 mt-4">
    <%= search_form_for @q do |f| %>
      <%= f.search_field :title_cont, placeholder: "Search for..", class:"form-control mb-2", style:"width: 30em;" %>
      <%= f.submit class: "btn btn-secondary mr-2" %>
      <%= link_to "Clear", request.path, class: "btn btn-outline-secondary" %>
    <% end %>
    <br>


    <!-- Sort feature: focus on later
    <h4> Or sort by:</h4>
    <%= form_with url: listings_path, class: "mt-2", method: :get, local: true do |form| %>
      <%= form.select :order, ["Price(high-low)", "Price (low-high)"] %>
      <br>
      <%= form.submit "Sort", class: "btn btn-secondary mt-2 mr-2" %>
      <%= link_to "Clear", request.path, class: "btn btn-outline-secondary mt-2" %>
    <% end %>
    -->
    
   
  </div>
  <div class="row row-cols-1 row-cols-md-4 g-4 mx-5">
    <% @listings.each do |listing|%>
      <div class="col mb-4">
        <div class="card h-100">
          <% if listing.picture.attached? %>
            <%= link_to (image_tag listing.picture, class: "card-img-top"), listing %>
          <% else %>
            <%= link_to (image_tag 'gamecartridge.jpg', class: "card-img-top"), listing %>
          <% end %>
          <div class="card-body">
            <h4 class="card-title"><%= listing.title %></h4>
            <h6 class="card-text">Listed by: <%= listing.user.username %></h6>
            <h5 class="card-text">$<%= listing.price / 100.00 %></h5>
            <%= link_to "See more", listing_path(listing.id), class: "btn btn-info text-white" %>
            <% if listing.sold == true %>
              <button class="btn btn-secondary float-right" disabled>Sold</button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
