<div class="mx-5">
  <p id="notice mx-5"><%= notice %></p>
    <h1 class="mx-5">Listings</h1>

    <div class="mx-5">
    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>Category</th>
          <th>Platform</th>
          <th>Title</th>
          <th>Condition</th>
          <th>Price</th>
          <th>Sold</th>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @listings.each do |listing| %>
          <tr>
            <td><%= listing.user.username %></td>
            <td><%= listing.category.name %></td>
            <td><%= listing.platform.name %></td>
            <td><%= listing.title %></td>
            <td><%= listing.condition %></td>
            <td>$<%= listing.price / 100.00 %></td>
            <td><%= listing.sold %></td>
            <td><%= listing.description %></td>
            <td><%= link_to 'Show', listing %></td>
            <% if user_signed_in? %>
              <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
              <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>


    <br>

  <%= link_to 'New Listing', new_listing_path, class: "btn btn-primary" %>
</div>