<section class="container d-flex flex-column flex-md-row px-2 my-2 my-md-5">
  <div class="content col-12 col-md-6 col-lg-7 p-0 pr-md-3">
    <div class="col-12 p-0 main-preview mb-4">
      <%=image_tag image_select(@listing), class:'thumbnail card-img top'%>
    </div>
  </div>
  <div class="sidebar col-lg-4 p-0 mx-2 d-md-block">
    <h1 class="mb-sm-2 mb-md-5"><%= @listing.title %></h1>
    <p class="blockquote mt-2">Listed by: <%= @listing.user.username%></p>
    <p class="blockquote mt-2">Condition: <%= @listing.condition.capitalize %></p>
    <br>
    <p class="blockquote mt-2">Category: <%= @listing.category.name %></p>
    <p class="blockquote mt-2">Platform: <%= @listing.platform.name %></p>
    <br>
    <p class="blockquote mt-2">Description: <%= @listing.description%></p>
    <p class="blockquote mt-2">Price: $<%= @listing.price / 100.00 %></p>
    <% if user_signed_in? %>
      <% if can? :manage, @listing %>
        <% if @listing.sold == true %>
          <button class="btn btn-secondary p-3 m-1" disabled>Sold</button>
        <% end %>
          <%=link_to "Edit", edit_listing_path(@listing.id), class: "btn btn-warning p-3 m-1"%>
          <%=link_to "Delete", @listing, method: :delete, data: {confirm: "Are you sure you want to delete this listing?"} , class: "btn btn-danger p-3 m-1 text-white" %>
        <% elsif @listing.sold == true %>
          <button class="btn btn-secondary p-3 m-1" disabled>Sold</button>
        <% else %>
        <% if @listing.sold == false %>
          <%= button_to "Buy", create_payment_intent_path, method: :post, remote: true, params:{id: @listing.id}, class: "btn btn-primary p-3"%>
        <% end %>
      <% end %>
    <% else%>
      <%= button_to "Login to buy", new_user_session_path, class: "btn btn-info p-3 mr-1" unless @listing.sold == true %>
      <% if @listing.sold == true %>
        <button class="btn btn-secondary p-3 mr-1" disabled>Sold</button>
      <% end %>
    <% end %>

  </div>
</section>




