<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <%= link_to "🎮 Vintage Video Games 🎮", root_path, class:"nav-brand" %>
  </div>
  <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "All listings", listings_path, class:"nav-link m-1" %>
      </li>
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "Creating new listing", new_listing_path, class:"nav-link m-1"%>
      </li>
      <li class="nav-item">
        <%= link_to "Log out", destroy_user_session_path, class:"nav-link m-1", method: :delete%>
      </li>
      <span class="navbar-text m-1 mx-2">
        <%= "Hi, #{current_user.username}" %>
      </span>
    <% else %>
      <li class="nav-item">
        <%= link_to "Log in", new_user_session_path, class:"nav-link m-1"%>
      </li>
      <li class="nav-item">
        <%= link_to "Sign up", new_user_registration_path, class:"nav-link m-1"%>
      </li>
    <% end %>
    
  </ul>
</nav>

